<div class="fk-row">
    <div class="fk-col-14">
        <div class="fk-column">

            <!--  Dialog -->
            <bz-card>
                <bz-card-header>
                    <span class="title">Dialog</span>
                </bz-card-header>
            </bz-card>
             
            <!-- Usage -->
            <app-dialog-usage class="card-top"></app-dialog-usage>

           <!--  Result -->
            <app-result class="card-top" ></app-result>

            <!-- Template -->
            <app-template class="card-top" ></app-template>

            <!-- Configuration -->
            <app-configuration class="card-top"></app-configuration>

            <!-- Properties -->
            <app-properties class="card-top"></app-properties>

           <!--  Backdrop click -->
            <app-back-drop-click class="card-top"></app-back-drop-click>

        </div>
    </div>
    <!--  Affix -->
    <div class="code-card">
        <bz-affix title="Overview" [toc]="[
            {fragment: 'usage', title: 'Usage' },
            {fragment: 'result', title: 'Result' },
            {fragment: 'template', title: 'Template' },
            {fragment: 'configuration', title: 'Configuration' },
            {fragment: 'properties', title: 'Properties' },
            {fragment: 'backdropClick', title: 'Backdrop click' }
        ]">
        </bz-affix>
    </div>
</div>
