<form [formGroup]="prodottoForm">
    <bz-card>
        <bz-card-header> 
			{{ 'header.detail' | translate }} Prodotto
 			<i bzTooltip="Anagrafica dei Prodotti" class="fa fa-question-circle"></i>
		</bz-card-header>

		<bz-card-content>

	        <ng-container *ngIf="pageStatus | hasPageStatus: ['new','edit']">

           
                       <!-- Id Prodotto-->
                       	            <div class="fk-row inputs">
                       	                <div class="fk-col-8">
                       						 <bz-input label="Id Prodotto:" formControlName="idProdotto" type="number"[disableAttr]="pageStatus | hasPageStatus: 'edit'">
                       	                        <bz-error> Id Prodotto  {{ 'label.obligatoryValues' | translate }} </bz-error>
                       	                    </bz-input>
                       						
                       	
                       	                </div>
                       	            </div>
                       
                       <!-- Descrizione Prodotto-->
                       	            <div class="fk-row inputs">
                       	                <div class="fk-col-8">
                       						
                       						<bz-input label="Descrizione Prodotto:" formControlName="descrizioneProdotto" type="string" >
                       	                        <bz-error> L'Descrizione Prodotto   {{ 'label.obligatoryValues' | translate }}  </bz-error>
                       	                    </bz-input>
                       	
                       	                </div>
                       	            </div>
                       
                       <!-- Prezzo Unitario-->
                       	            <div class="fk-row inputs">
                       	                <div class="fk-col-8">
                       						 <bz-input label="Prezzo Unitario:" formControlName="prezzoUnitario" type="number">
                       	                        <bz-error> Prezzo Unitario  {{ 'label.obligatoryValues' | translate }} </bz-error>
                       	                    </bz-input>
                       						
                       	
                       	                </div>
                       	            </div>
                       
                       <!-- Data Scadenza-->
                       	            <div class="fk-row inputs">
                       	                <div class="fk-col-8">
                       							<bz-date-picker label="Data Scadenza:" controlName="dataScadenza" type="Date"  timePicker >
                       	                        	<bz-error> Data Scadenza  {{ 'label.obligatoryValues' | translate }}  </bz-error>
                       	                    	</bz-date-picker>
                       						
                       	
                       	                </div>
                       	            </div>
                       
                       <!-- Limited Edition-->
                       	            <div class="fk-row inputs">
                       	                <div class="fk-col-8">
                       						
                       						<bz-switch label="Limited Edition" ariaId="Limited Edition" formControlName="limitedEdition" type="boolean"></bz-switch>
                       	
                       	                </div>
                       	            </div>
                       
        
	        </ng-container>
	
	        <div *ngIf="pageStatus | hasPageStatus: 'view'">
	
				<!-- Id Prodotto -->
				  <label  > Id Prodotto: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ prodotto?.idProdotto  }}</strong></div>
	            </div>
				
				<!-- Descrizione Prodotto -->
				  <label  > Descrizione Prodotto: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ prodotto?.descrizioneProdotto  }}</strong></div>
	            </div>
				
				<!-- Prezzo Unitario -->
				  <label  > Prezzo Unitario: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ prodotto?.prezzoUnitario  }}</strong></div>
	            </div>
				
				<!-- Data Scadenza -->
				  <label 	bzTooltip="Data di Scadenza"  > Data Scadenza: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ prodotto?.dataScadenza  | date : 'dd/MM/YYYY  HH:mm:ss'  }}</strong></div>
	            </div>
				
				<!-- Limited Edition -->
				  <label  > Limited Edition: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ prodotto?.limitedEdition  }}</strong></div>
	            </div>
				
				<!-- Created By -->
				  <label  > Created By: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ prodotto?.createdBy  }}</strong></div>
	            </div>
				
				<!-- Last Modified By -->
				  <label  > Last Modified By: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ prodotto?.lastModifiedBy  }}</strong></div>
	            </div>
				
				<!-- Created Date -->
				  <label  > Created Date: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ prodotto?.createdDate  | date : 'dd/MM/YYYY  HH:mm:ss'  }}</strong></div>
	            </div>
				
				<!-- Last Modified Date -->
				  <label  > Last Modified Date: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ prodotto?.lastModifiedDate  | date : 'dd/MM/YYYY  HH:mm:ss'  }}</strong></div>
	            </div>
				
	
             </div>
	
	        
	        <!--Tabs prodotto -->
	        <app-tabs-prodotto [formGroup]="prodottoForm" [entity]="prodotto" [pageStatus]="tabPageStatus"></app-tabs-prodotto>

		</bz-card-content>

    </bz-card>

    <!-- Buttons -->
    <bz-card class="card">
		<bz-card-content>	
	        <button bzButton status="primary" type="button" (click)="buttonsService.goBack()"> {{ 'buttons.goBack' | translate }} </button>
	        <button *ngIf="(pageStatus | hasPageStatus: 'new') && (Privileges?.PRODOTTO_CREATE | hasPermission: privileges)" bzButton status="primary" class="button"
	            (bzClick)="insertProdotto()" [bzCheckForm]="prodottoForm"> {{ 'buttons.save' | translate }}  </button>
	        <button *ngIf="(pageStatus | hasPageStatus: 'view') && (Privileges?.PRODOTTO_FIND_BY_ID | hasPermission: privileges)" bzButton status="primary" class="button"
	            (bzClick)="editProdotto()" type="button"> {{ 'buttons.edit' | translate }}  </button>
	        <button *ngIf="(pageStatus | hasPageStatus: 'edit') && (Privileges?.PRODOTTO_UPDATE | hasPermission: privileges)" bzButton status="primary" class="button"
	            (bzClick)="updateProdotto()" [bzCheckForm]="prodottoForm"> {{ 'buttons.save' | translate }}  </button>
	        <button *ngIf="(pageStatus | hasPageStatus: ['edit','view']) && (Privileges?.PRODOTTO_DELETE | hasPermission: privileges)" bzButton status="primary" class="button"
	            (bzClick)="confirmDeleteProdotto()" > {{ 'buttons.delete' | translate }}  </button>
			
		</bz-card-content>	
    </bz-card>

</form>



