
<bz-card [bzSpinner]="spinner" [size]="cardSize" global>

   <!-- {{ 'header.list' | translate }} tipoOrdine -->
    <bz-card-header>
         tipoOrdine {{ 'header.list' | translate }}
    </bz-card-header>

	<bz-card-content>

	    <bz-table [sources]="tipoOrdineList" [pageSize]="pageSize" [nVisiblePages]="3" [totalPages]="totalPages"
	        (pageObject)="paginateTable($event, null)" paginatedBe>
	
	        <!-- idTipoOrdine -->
	        <th bzHeaderColumn bzSortColumn="idTipoOrdine"> idTipoOrdine </th>
	        <td *bzColumnDef="let element" class="fk-pointer"  (click)="selectElement(element)"> 
	           {{element.idTipoOrdine}} 
	        </td>
	        <!-- nomeTipoOrdine -->
	        <th bzHeaderColumn bzSortColumn="nomeTipoOrdine"> nomeTipoOrdine </th>
	        <td *bzColumnDef="let element" class="fk-pointer"  (click)="selectElement(element)"> 
	           {{element.nomeTipoOrdine}} 
	        </td>
	        <ng-container bzTableNoValue> {{ 'label.noElements' | translate }} Tipo Ordine </ng-container>
	    </bz-table>

	</bz-card-content>

</bz-card>






