<!-- Properties -->
<bz-card class="card-top" id="properties">
    <bz-card-header>
        <span class="title"> Properties </span>
    </bz-card-header>
    <bz-card-content>
        <div class="card-badge content-card"> It is possibile pass data to dialog by <span class="fk-badge">properties</span> property
        </div>
        <bz-tabset>
            <!-- showcase -->
            <bz-tab tabTitle="ShowCase">

                <div class="fk-center showcase-container">
                    <button bzButton status="primary" (click)="showDialog()">Show Dialog</button>
                </div>

              

            </bz-tab>
            <!--  ts -->
            <bz-tab tabTitle="ts">
                <bz-code-box>
                    <span highlight [bzCodeBox]="DialogConstant.PROPERTIES_TS" class="typeScript"></span>
                </bz-code-box>
            </bz-tab>
            <!--  html -->
            <bz-tab tabTitle="html">
                <bz-code-box>
                    <span highlight [bzCodeBox]="DialogConstant.PROPERTIES_HTML" class="html"></span>
                </bz-code-box>
            </bz-tab>
        </bz-tabset>
    </bz-card-content>
</bz-card>
