
<bz-card [bzSpinner]="spinner" [size]="cardSize" global>

   <!-- {{ 'header.list' | translate }} Ordine -->
    <bz-card-header>
         Ordine {{ 'header.list' | translate }}
    </bz-card-header>

	<bz-card-content>

	    <bz-table [sources]="ordineList" [pageSize]="pageSize" [nVisiblePages]="3" [totalPages]="totalPages"
	        (pageObject)="paginateTable($event, null)" paginatedBe>
	
	        <!-- Id Ordine -->
	        <th bzHeaderColumn bzSortColumn="idOrdine" scope="col"> Id Ordine </th>
	        <td *bzColumnDef="let element" class="fk-pointer"  (click)="selectElement(element)"> 
	           {{element.idOrdine}} 
	        </td>
	        <!-- Anno -->
	        <th bzHeaderColumn bzSortColumn="anno" scope="col"> Anno </th>
	        <td *bzColumnDef="let element" class="fk-pointer"  (click)="selectElement(element)"> 
	           {{element.anno}} 
	        </td>
	        <!-- Data Ordine -->
	        <th bzHeaderColumn bzSortColumn="dataOrdine" scope="col"> Data Ordine </th>
	        <td *bzColumnDef="let element" class="fk-pointer"  (click)="selectElement(element)"> 
	           {{element.dataOrdine}} 
	        </td>
	        <!-- Urgente -->
	        <th bzHeaderColumn bzSortColumn="urgente" scope="col"> Urgente </th>
	        <td *bzColumnDef="let element" class="fk-pointer"  (click)="selectElement(element)"> 
	           {{element.urgente}} 
	        </td>
	        <ng-container bzTableNoValue> {{ 'label.noElements' | translate }} Ordine </ng-container>
	    </bz-table>

	</bz-card-content>

</bz-card>






