

<bz-card [bzSpinner]="spinner" *ngIf="!(pageStatus | hasPageStatus: ['new','edit']) || readonly">
    <!-- card header -->
    <bz-card-header>
         {{ 'header.list' | translate }}  Ordine
    </bz-card-header>

	<bz-card-content>

	    <!--  {{ 'header.detail' | translate }}  Ordine -->
	    <bz-table [sources]="ordineList" [pageSize]="pageSize" [nVisiblePages]="3" [totalPages]="totalPages"
	    (pageObject)="paginateTable($event)" paginatedBe>
	       
	
	
	
	        <!-- IdOrdine -->
	        <th bzHeaderColumn bzSortColumn="idOrdine" scope="col"> IdOrdine </th>
	        <td *bzColumnDef="let element"> {{element.ordineKey.idOrdine}}</td>
	        <!-- Anno -->
	        <th bzHeaderColumn bzSortColumn="anno" scope="col"> Anno </th>
	        <td *bzColumnDef="let element"> {{element.ordineKey.anno}}</td>
	        <!-- DataOrdine -->
	        <th bzHeaderColumn bzSortColumn="dataOrdine" scope="col"> DataOrdine </th>
	        <td *bzColumnDef="let element"> {{element.dataOrdine}}</td>
	        <!-- Urgente -->
	        <th bzHeaderColumn bzSortColumn="urgente" scope="col"> Urgente </th>
	        <td *bzColumnDef="let element"> {{element.urgente}}</td>
	
	         <!-- Cliente -->
	        <th bzHeaderColumn bzSortColumn="theClienteObjectKey" scope="col"> Cliente </th>
  <td *bzColumnDef="let element"> {{element.theClienteObjectKey }}</td>
	         <!-- Invalid -->
	        <th bzHeaderColumn bzSortColumn="theinvalidObjectKey" scope="col"> Invalid </th>
  <td *bzColumnDef="let element"> {{element.theinvalidObjectKey }}</td>

	        <ng-container bzTableNoValue>  {{ 'label.noElement' | translate }}  Ordine </ng-container>
	
	    </bz-table>

	</bz-card-content>

</bz-card>



<!-- Add Ordine -->
<bz-card *ngIf="(pageStatus | hasPageStatus: ['new','edit']) && !readonly">

    <bz-card-header>
         {{ 'header.list' | translate }}  Ordine
    </bz-card-header>

		<bz-card-content>
   
		 <bz-table  [bzSmartTable]="ordineList"  [bzFormGroup]="smartFormGroup"  [bzDisabledControls]="['theClienteObjectKey']"   [bzDisabledControls]="['theTipoOrdineObjectKey']"   [bzDisabledControls]="['theOrdineObjectKey']"  
		 [bzForm]= "form"  (smartArray)="getSmartArray($event)" withIndex paginated>
		        
		        <!-- Cliente -->
		        <th bzHeaderColumn class="prodotto-column-width" scope="col"> Cliente </th>
		        <td *bzColumnDef="let element" [formGroup]="element.value">
                    <div formGroupName="ordineKey"> 
		          <bz-input formControlName="theClienteObjectKey">
						<button bzInputButton status="primary" (click)="showClienteListDialog(element.rowIndex)">
      						<bz-icon iconName="fa fa-window-maximize"></bz-icon>
 					    </button>			
				  </bz-input>
                    </div>
		       
		        </td>
		         <!-- Ordine -->
		        <th bzHeaderColumn class="prodotto-column-width" scope="col"> OrdinePadre </th>
		        <td *bzColumnDef="let element" [formGroup]="element.value">
		          <bz-input formControlName="theOrdinePadreObjectKey" (click)="showOrdineListDialog(element.rowIndex)"></bz-input>
		          <bz-input formControlName="theOrdinePadreObjectKey" (click)="showOrdineListDialog(element.rowIndex)"></bz-input>
		
		
		        <!-- IdOrdine -->
		        <th bzHeaderColumn scope="col"> IdOrdine </th>
		        <td *bzColumnDef="let element" [formGroup]="element?.value">
		            <bz-input formControlName="idOrdine"></bz-input>
		        </td>
		        <!-- Anno -->
		        <th bzHeaderColumn scope="col"> Anno </th>
		        <td *bzColumnDef="let element" [formGroup]="element?.value">
		            <bz-input formControlName="anno"></bz-input>
		        </td>
		        <!-- DataOrdine -->
		        <th bzHeaderColumn scope="col"> DataOrdine </th>
		        <td *bzColumnDef="let element" [formGroup]="element?.value">
		            <bz-input formControlName="dataOrdine"></bz-input>
		        </td>
		        <!-- Urgente -->
		        <th bzHeaderColumn scope="col"> Urgente </th>
		        <td *bzColumnDef="let element" [formGroup]="element?.value">
		            <bz-input formControlName="urgente"></bz-input>
		        </td>
		
		        <!-- Remove Ordine -->
		        <th bzHeaderColumn scope="col"> </th>
		        <td *bzColumnDef="let element" >
		            <button  bzButton [bzRemoveRow]="element" status="danger"  >
		                {{ 'buttons.delete' | translate }} 
		            </button>
		            <button  bzButton [bzRestoreRow]="element" status="primary"  >
		               {{ 'buttons.restore' | translate }} 
		            </button>
		        </td>
		
		    
		        <ng-container >  {{ 'label.noElement' | translate }} Ordine </ng-container>
		
		        <button bzButton bzAddRow >{{ 'buttons.new' | translate }}  Ordine </button>
		
		    </bz-table>

	</bz-card-content>			
   	
</bz-card>





