
<bz-card [bzSpinner]="spinner">

    <!-- card header -->
    <bz-card-header>
        Tipo Ordine {{ 'header.list' | translate }}
    </bz-card-header>

	<bz-card-content>
	
	    <!-- Tabella tipo tipoOrdine -->
	    <bz-table [sources]="tipoOrdineList" [pageSize]="pageSize" [nVisiblePages]="3" [totalPages]="totalPages"
	        (pageObject)="paginateTable($event, tipoOrdineCriteria)" paginatedBe>
	
	

			
			<!-- Id tipoOrdine -->
	        <th bzHeaderColumn bzSortColumn="idTipoOrdine" scope="col" > Id Tipo Ordine </th>
	        <td *bzColumnDef="let tipoOrdine"> 
	            <div class="fk-pointer" (click)="navigateToView(tipoOrdine.objectKey)" >{{tipoOrdine.idTipoOrdine}}</div>  
	        </td>

			
	
	        	<!-- Nome Tipo Ordine -->
	        <th bzHeaderColumn bzSortColumn="nomeTipoOrdine" scope="col" > Nome Tipo Ordine </th>
	        <td *bzColumnDef="let tipoOrdine"> {{tipoOrdine.nomeTipoOrdine }}</td>
	
	
	        <ng-container bzTableNoValue> {{ 'label.noElements' | translate }} Tipo Ordine </ng-container>

	    </bz-table>

	</bz-card-content>

</bz-card>

<!-- Search with criteria -->
<app-search-tipo-ordine></app-search-tipo-ordine>

<!-- Buttons -->
<bz-card class="card">
	<bz-card-content>
	    <button bzButton status="primary" class="button" (click)="searchWithCriteria()"> Cerca</button>
	    <button bzButton status="primary" class="button" *ngIf="Privileges?.TIPO_ORDINE_CREATE | hasPermission : privileges"
	     routerLink="/pages/ms-demo/tipo-ordine/detail-tipo-ordine/new" > {{ 'buttons.new' | translate }} </button>
		
	</bz-card-content>
</bz-card>



