
	<bz-card class="card" isCollapsable>
    <!-- card header -->
    <bz-card-header>
        {{ 'header.search' | translate }}
    </bz-card-header>

	<bz-card-content>

	    <form [formGroup]="searchClienteForm">
		
	
	        <!-- Ragione Sociale -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Ragione Sociale" formControlName="ragioneSociale" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
	        <!-- Referente Aziendale -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Referente Aziendale" formControlName="referenteAziendale" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
	        <!-- Email -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Email" formControlName="email" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
	        <!-- Telefono -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Telefono" formControlName="telefono" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
	        <!-- Piva -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Piva" formControlName="piva" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
	        <!-- Codice Fiscale -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Codice Fiscale" formControlName="codiceFiscale" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
	        <!-- Sito Internet -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Sito Internet" formControlName="sitoInternet" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
	        <!-- Fax -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Fax" formControlName="fax" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
	        <!-- Organizzazione Padre -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Organizzazione Padre" formControlName="organizzazionePadre" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
			<div class="fk-row inputs">
	            <div class="fk-col-8">
				  <bz-dropdown label="UserEntity" [options]="userEntityList" optionLabel="objectTitle" optionValue="objectKey" formControlName="theUserEntityObjectKey">
                    <bz-error></bz-error>
                  </bz-dropdown>
				</div>
	        </div>


		 
	    </form>
	</bz-card-content>
</bz-card>


