<bz-card global>
    <bz-card-header>
        Dialog 
    </bz-card-header>
    <bz-card-content>
        <div class="fk-r-mb-4 fk-display-9-6">Insert your name</div>
        <bz-input [(ngModel)]="name"></bz-input>
    </bz-card-content>
    <bz-card-footer>
        <div class="fk-center">
           <button bzButton status="primary" class="fk-r-mr-4" (click)="dialogService.closeDialog()"> Close </button>
           <button bzButton status="primary" (click)="dialogService.closeDialog(name)"> ok </button>
        </div>
    </bz-card-footer>
</bz-card>

