<!--  Duration -->
<bz-card class="card-top" id="destroyByClick">
    <bz-card-header>
        <span class="title"> Destroy by click </span>
    </bz-card-header>
    <bz-card-content>
        <div class="card-badge content-card">
            <span class="fk-badge"> DestroyByClick</span> defines time that toast is displayed on screen. Default value is true.
        </div>

        <bz-tabset>
            <!-- showcase -->
            <bz-tab tabTitle="ShowCase">
                <div class="fk-center showcase-container fk-column">

                  
                    <div>
                        <button bzButton status="primary"
                            (click)="toastrService.showSuccess('Toast', {destroyByClick: false})" class="space-group">
                            No destroy by click
                        </button>
                        <button bzButton status="primary"
                            (click)="toastrService.showDanger('Toast', {destroyByClick: true})" class="space-group">
                           Destroy by click
                        </button>
                    </div>

                </div>

            </bz-tab>
            <!--  ts -->
            <bz-tab tabTitle="ts">
                <bz-code-box>
                    <span highlight [bzCodeBox]="ToasterConstant.POSITION_TS" class="typeScript"></span>
                </bz-code-box>
            </bz-tab>
            <!--  html -->
            <bz-tab tabTitle="html">
                <bz-code-box>
                    <span highlight [bzCodeBox]="ToasterConstant.DESTROY_BY_CLICK_HTML" class="html"></span>
                </bz-code-box>
            </bz-tab>
        </bz-tabset>

    </bz-card-content>
</bz-card>
