
<bz-card [bzSpinner]="spinner" [size]="cardSize" global>

   <!-- {{ 'header.list' | translate }} TipoOrdine -->
    <bz-card-header>
         Tipo Ordine {{ 'header.list' | translate }}
    </bz-card-header>

	<bz-card-content>

	    <bz-table [sources]="tipoOrdineList" [pageSize]="pageSize" [nVisiblePages]="3" [totalPages]="totalPages"
	        (pageObject)="paginateTable($event, null)" paginatedBe>
	
	        <!-- Id Tipo Ordine -->
	        <th bzHeaderColumn bzSortColumn="idTipoOrdine" scope="col"> Id Tipo Ordine </th>
	        <td *bzColumnDef="let element" class="fk-pointer"  (click)="selectElement(element)"> 
	           {{element.idTipoOrdine}} 
	        </td>
	        <!-- Nome Tipo Ordine -->
	        <th bzHeaderColumn bzSortColumn="nomeTipoOrdine" scope="col"> Nome Tipo Ordine </th>
	        <td *bzColumnDef="let element" class="fk-pointer"  (click)="selectElement(element)"> 
	           {{element.nomeTipoOrdine}} 
	        </td>
	        <ng-container bzTableNoValue> {{ 'label.noElements' | translate }} Tipo Ordine </ng-container>
	    </bz-table>

	</bz-card-content>

</bz-card>






