
	<bz-card class="card" isCollapsable>
    <!-- card header -->
    <bz-card-header>
        {{ 'header.search' | translate }}
    </bz-card-header>

	<bz-card-content>

	    <form [formGroup]="searchOrdineForm">
		
	
	        <!-- Id Ordine -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Id Ordine da" placeholder="da" formControlName="idOrdineFrom" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	                <bz-input label="Id Ordine a" placeholder="a" formControlName="idOrdineTo" (keyup.enter)="search()"></bz-input>
	            </div>
	        </div>
	
	
	        <!-- Anno -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					<bz-input label="Anno da" placeholder="da" formControlName="annoFrom" (keyup.enter)="search()"></bz-input>
	            </div>
	            <div class="fk-col-8">
	                <bz-input label="Anno a" placeholder="a" formControlName="annoTo" (keyup.enter)="search()"></bz-input>
	            </div>
	        </div>
	
	
	        <!-- Data Ordine -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					 <bz-date-picker label="Data Ordine da" placeholder="da" controlName="dataOrdineFrom" (keyup.enter)="search()"></bz-date-picker>
	            </div>
	            <div class="fk-col-8">
					 <bz-date-picker label="Data Ordine a" placeholder="a" controlName="dataOrdineTo" (keyup.enter)="search()" ></bz-date-picker>
	            </div>
	        </div>
	
	
	        <!-- Urgente -->
	        <div class="fk-row inputs">
	            <div class="fk-col-8">
					 <bz-switch formControlName="urgente" (keyup.enter)="search()" >Urgente</bz-switch>
	            </div>
	            <div class="fk-col-8">
	            </div>
	        </div>
	
	
			<div class="fk-row inputs">
	            <div class="fk-col-8">
				  <bz-dropdown label="Cliente" [options]="clienteList" optionLabel="objectTitle" optionValue="objectKey" formControlName="theClienteObjectKey">
                    <bz-error></bz-error>
                  </bz-dropdown>
				</div>
	        </div>


			<div class="fk-row inputs">
	            <div class="fk-col-8">
				  <bz-dropdown label="TipoOrdine" [options]="tipoOrdineList" optionLabel="objectTitle" optionValue="objectKey" formControlName="theTipoOrdineObjectKey">
                    <bz-error></bz-error>
                  </bz-dropdown>
				</div>
	        </div>


			<div class="fk-row inputs">
	            <div class="fk-col-8">
				  <bz-dropdown label="Ordine" [options]="ordineList" optionLabel="objectTitle" optionValue="objectKey" formControlName="theOrdinePadreObjectKey">
                    <bz-error></bz-error>
                  </bz-dropdown>
				</div>
	        </div>


		 
	    </form>
	</bz-card-content>
</bz-card>


