<div class="fk-row">
    <div class="fk-col-14">
        <div class="fk-column">

            <!--  Input -->
            <bz-card>
                <bz-card-header>
                    <span class="title">Input</span>
                </bz-card-header>
            </bz-card>

            <!--  Installation -->
            <bz-card class="card-top" id="installation">
                <bz-card-header>
                    <span class="title"> Installation </span>
                </bz-card-header>
                <bz-card-content>
                    <div class="card-badge content-card fk-r-mb-4">Import
                        <span class="fk-badge">BzInputModule</span> to your feature module.
                    </div>
                    <bz-code-box>
                        <span highlight [bzCodeBox]="InputConstant.INSTALLATION" class="typeScript"></span>
                    </bz-code-box>
                </bz-card-content>
            </bz-card>

          <!--  Usage -->
           <app-usage-input class="card-top"></app-usage-input>

           <!-- Prefix and Suffix -->
           <app-prefix-suffix class="card-top" ></app-prefix-suffix>

           <!-- Validation -->
           <app-validation class="card-top"></app-validation>

           <!-- Status -->
           <app-status class="card-top"></app-status>

           <!-- Disabled input -->
           <app-disabled-input class="card-top"></app-disabled-input>
           
           <!-- Input button -->
           <app-input-button class="card-top"></app-input-button>
           
        </div>
    </div>
    <!--  Affix -->
    <div class="code-card">
        <bz-affix title="Overview" [toc]="[
            { fragment: 'installation', title: 'Installation'},
            {fragment: 'usage', title: 'Usage' },
            {fragment: 'prefixSuffix', title: 'Prefix and Suffix' },
            {fragment: 'validation', title: 'Error message' },
            {fragment: 'status', title: 'Status' },
            {fragment: 'disabledInput', title: 'Disabled' },
            {fragment: 'inputButton', title: 'Button' }
        ]">
        </bz-affix>
    </div>
</div>
