<form [formGroup]="ordineForm">
    <bz-card>
        <bz-card-header> 
			{{ 'header.detail' | translate }} Ordine
 			<i bzTooltip="Ordine" class="fa fa-question-circle"></i>
		</bz-card-header>

		<bz-card-content>

	        <ng-container *ngIf="pageStatus | hasPageStatus: ['new','edit']">

           
            <div formGroupName="ordineKey">

	
				
				<!-- Id Ordine-->
					            <div class="fk-row inputs">
					                <div class="fk-col-8">
										 <bz-input label="Id Ordine:" formControlName="idOrdine" type="number"[disableAttr]="pageStatus | hasPageStatus: 'edit'">
					                        <bz-error> Id Ordine  {{ 'label.obligatoryValues' | translate }} </bz-error>
					                    </bz-input>
										
					
					                </div>
					            </div>
				
               
				
				<!-- Anno-->
					            <div class="fk-row inputs">
					                <div class="fk-col-8">
										 <bz-input label="Anno:" formControlName="anno" type="number"[disableAttr]="pageStatus | hasPageStatus: 'edit'">
					                        <bz-error> Anno  {{ 'label.obligatoryValues' | translate }} </bz-error>
					                    </bz-input>
										
					
					                </div>
					            </div>
				
               
	
            </div> <!-- end formGroup -->
                       <!-- Data Ordine-->
                       	            <div class="fk-row inputs">
                       	                <div class="fk-col-8">
                       							<bz-date-picker label="Data Ordine:" controlName="dataOrdine" type="Date" >
                       	                        	<bz-error> Data Ordine  {{ 'label.obligatoryValues' | translate }}  </bz-error>
                       	                    	</bz-date-picker>
                       						
                       	
                       	                </div>
                       	            </div>
                       
                       <!-- Urgente-->
                       	            <div class="fk-row inputs">
                       	                <div class="fk-col-8">
                       						
                       						<bz-switch label="Urgente" ariaId="Urgente" formControlName="urgente" type="boolean"></bz-switch>
                       	
                       	                </div>
                       	            </div>
                       
	                 <!-- Cliente   -->
	                 	          <div class="fk-row inputs">
	                 	               <div class="fk-col-8">
	                 	                       <bz-dropdown label="Cliente" [options]="clienteList" optionLabel="objectTitle" optionValue="objectKey" formControlName="theClienteObjectKey">
	                 	                       <bz-error></bz-error>
	                 	                       </bz-dropdown>
	                 	                </div>
	                 	           </div> 
	                 <!-- Tipo Ordine   -->
	                 	          <div class="fk-row inputs">
	                 	               <div class="fk-col-8">
	                 	                       <bz-dropdown label="Tipo Ordine" [options]="tipoOrdineList" optionLabel="objectTitle" optionValue="objectKey" formControlName="theTipoOrdineObjectKey">
	                 	                       <bz-error></bz-error>
	                 	                       </bz-dropdown>
	                 	                </div>
	                 	           </div> 
	                 <!-- Ordine   -->
	                 	          <div class="fk-row inputs">
	                 	               <div class="fk-col-8">
	                 	                       <bz-dropdown label="Ordine" [options]="ordineList" optionLabel="objectTitle" optionValue="objectKey" formControlName="theOrdinePadreObjectKey">
	                 	                       <bz-error></bz-error>
	                 	                       </bz-dropdown>
	                 	                </div>
	                 	           </div> 
        
	        </ng-container>
	
	        <div *ngIf="pageStatus | hasPageStatus: 'view'">
	
				<!-- Id Ordine -->
				  <label  > Id Ordine: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ ordine?.ordineKey?.idOrdine  }}</strong></div>
	            </div>
				
				<!-- Anno -->
				  <label  > Anno: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ ordine?.ordineKey?.anno  }}</strong></div>
	            </div>
				
				<!-- Data Ordine -->
				  <label  > Data Ordine: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ ordine?.dataOrdine  | date : 'dd/MM/YYYY '  }}</strong></div>
	            </div>
				
				<!-- Urgente -->
				  <label  > Urgente: </label>
	            <div class="fk-row inputs">
	                <div class="fk-col-8"><strong>{{ ordine?.urgente  }}</strong></div>
	            </div>
				
	
                <!--Cliente-->
				 <label> Cliente: </label>
				<div class="fk-row inputs">
                        <div class="fk-col-8"><strong>{{ ordine?.theClienteObjectTitle}}</strong></div>
	            </div>
                <!--Tipo Ordine-->
				 <label> Tipo Ordine: </label>
				<div class="fk-row inputs">
                        <div class="fk-col-8"><strong>{{ ordine?.theTipoOrdineObjectTitle}}</strong></div>
	            </div>
                <!--Ordine-->
				 <label> Ordine: </label>
				<div class="fk-row inputs">
                        <div class="fk-col-8"><strong>{{ ordine?.theOrdinePadreObjectTitle}}</strong></div>
	            </div>
             </div>
	
	        
	        <!--Tabs ordine -->
	        <app-tabs-ordine [formGroup]="ordineForm" [entity]="ordine" [pageStatus]="tabPageStatus"></app-tabs-ordine>

		</bz-card-content>

    </bz-card>

    <!-- Buttons -->
    <bz-card class="card">
		<bz-card-content>	
	        <button bzButton status="primary" type="button" (click)="buttonsService.goBack()"> {{ 'buttons.goBack' | translate }} </button>
	        <button *ngIf="(pageStatus | hasPageStatus: 'new') && (Privileges?.ORDINE_CREATE | hasPermission: privileges)" bzButton status="primary" class="button"
	            (bzClick)="insertOrdine()" [bzCheckForm]="ordineForm"> {{ 'buttons.save' | translate }}  </button>
	        <button *ngIf="(pageStatus | hasPageStatus: 'view') && (Privileges?.ORDINE_FIND_BY_ID | hasPermission: privileges)" bzButton status="primary" class="button"
	            (bzClick)="editOrdine()" type="button"> {{ 'buttons.edit' | translate }}  </button>
	        <button *ngIf="(pageStatus | hasPageStatus: 'edit') && (Privileges?.ORDINE_UPDATE | hasPermission: privileges)" bzButton status="primary" class="button"
	            (bzClick)="updateOrdine()" [bzCheckForm]="ordineForm"> {{ 'buttons.save' | translate }}  </button>
	        <button *ngIf="(pageStatus | hasPageStatus: ['edit','view']) && (Privileges?.ORDINE_DELETE | hasPermission: privileges)" bzButton status="primary" class="button"
	            (bzClick)="confirmDeleteOrdine()" > {{ 'buttons.delete' | translate }}  </button>
			
		</bz-card-content>	
    </bz-card>

</form>



