<div class="fk-row">
    <div class="fk-col-14">
        <div class="fk-column">

           <!--  Tooltip -->
            <bz-card >
                <bz-card-header >
                    <span class="title">Tooltip </span>
                </bz-card-header>
            </bz-card>

              <!--  Installation -->
              <bz-card  class="card-top" id="installation">
                <bz-card-header >
                    <span class="title"> Installation </span>
                </bz-card-header>
                <bz-card-content>
                    <div class="card-badge content-card">Import 
                        <span class="fk-badge">BzTooltipModule</span> to your feature module. 
                    </div>
                    <bz-code-box>
                        <span highlight [bzCodeBox]="TooltipConstant.INSTALLATION" class="typeScript"></span>
                    </bz-code-box>
                </bz-card-content>
            </bz-card>

              <!--  Usage -->
              <bz-card  class="card-top" id="usage">
                <bz-card-header >
                    <span class="title"> Usage </span>
                </bz-card-header>
                <bz-card-content>
                    <bz-tabset>
                        <bz-tab tabTitle="ShowCase">
                          
                        <div class="fk-center showcase-container">
                            <button bzButton status="primary" bzTooltip="Tooltip"> Show tooltip </button>
                        </div>
                          

                        </bz-tab>
                        <bz-tab tabTitle="ts">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.USAGE_TS" class="typeScript"></span>
                            </bz-code-box>
                        </bz-tab>
                        <bz-tab tabTitle="html">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.USAGE_HTML" class="html"></span>
                            </bz-code-box>
                        </bz-tab>
                    </bz-tabset>
                  
                   
                </bz-card-content>
            </bz-card>


             <!--  Status -->
             <bz-card  class="card-top" id="status">
                <bz-card-header >
                    <span class="title"> Status </span>
                </bz-card-header>
                
                <bz-card-content>
                    <div class="card-badge">
                        It is possible set tooltip color whith <span class="fk-badge">bzTooltipStatus</span> attribute.
                    </div>
                    <bz-tabset>
                        <bz-tab tabTitle="ShowCase">
                          
                        <div class="fk-center showcase-container responsive">
                            <button bzButton status="primary" bzTooltip="Tooltip" class="tooltip-group "> 
                                Show tooltip 
                            </button>
                            <button bzButton status="primary" bzTooltip="Tooltip" bzTooltipStatus="basic" class="tooltip-group "> 
                                Show tooltip 
                            </button>
                            <button bzButton status="primary" bzTooltip="Tooltip" bzTooltipStatus="primary" class="tooltip-group ">
                                 Show tooltip 
                            </button>
                            <button bzButton status="primary" bzTooltip="Tooltip" bzTooltipStatus="danger" class="tooltip-group "> 
                                Show tooltip 
                            </button>
                        </div>
                          

                        </bz-tab>
                        <bz-tab tabTitle="ts">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.USAGE_TS" class="typeScript"></span>
                            </bz-code-box>
                        </bz-tab>
                        <bz-tab tabTitle="html">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.STATUS_HTML" class="html"></span>
                            </bz-code-box>
                        </bz-tab>
                    </bz-tabset>

                </bz-card-content>
            </bz-card>

             <!--  Position -->
             <bz-card  class="card-top" id="position">
                <bz-card-header >
                    <span class="title"> Position </span>
                </bz-card-header>
                
                <bz-card-content>
                    <div class="card-badge">
                        It is possible set tooltip position whith <span class="fk-badge">bzTooltipPosition</span> attribute. (Default value of position is top)
                    </div>
                    <bz-tabset>
                        <bz-tab tabTitle="ShowCase">
                          
                        <div class="fk-center showcase-container " >
                           
                            <button bzButton status="primary" bzTooltip="Tooltip" bzTooltipPosition="top" class="tooltip-group"> 
                                Top
                            </button>
                            <button bzButton status="primary" bzTooltip="Tooltip" bzTooltipPosition="bottom" class="tooltip-group">
                                Bottom
                            </button>
                            <button bzButton status="primary" bzTooltip="Tooltip"  bzTooltipPosition="left" class="tooltip-group"> 
                                Left
                            </button>
                            <button bzButton status="primary" bzTooltip="Tooltip"  bzTooltipPosition="right" class="tooltip-group"> 
                                Right
                            </button>
                        </div>
                          
                        </bz-tab>
                        <bz-tab tabTitle="ts">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.USAGE_TS" class="typeScript"></span>
                            </bz-code-box>
                        </bz-tab>
                        <bz-tab tabTitle="html">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.POSITION_HTML" class="html"></span>
                            </bz-code-box>
                        </bz-tab>
                    </bz-tabset>
                    
                </bz-card-content>
            </bz-card>


             <!--  Triggers -->
             <bz-card  class="card-top" id="triggers">
                <bz-card-header >
                    <span class="title"> Triggers </span>
                </bz-card-header>
                
                <bz-card-content>
                    <div class="card-badge">
                        It is possible to show and hide the tooltip in two <span class="fk-badge">triggers</span>: 
                    </div>
                    <ul>
                        <li class="ul-li">Hint provides capability to show the component when the user hovers over the host element and hide when the user hovers out of the host.</li>
                        <li class="ul-li">Hover works like hint mode with one exception - when the user moves mouse from host element to the container element the component remains open, so that it is possible to interact with it content.</li>
                    </ul>
                    <bz-tabset>
                        <bz-tab tabTitle="ShowCase">
                          
                        <div class="fk-center showcase-container" >
                           
                            <button bzButton status="primary" bzTooltip="Tooltip" bzTooltipTrigger="hint" class="tooltip-group"> 
                                Hint
                            </button>
                            <button bzButton status="primary" bzTooltip="Tooltip" bzTooltipTrigger="hover" class="tooltip-group">
                                Hover
                            </button>
                           
                        </div>
                          
                        </bz-tab>
                        <bz-tab tabTitle="ts">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.USAGE_TS" class="typeScript"></span>
                            </bz-code-box>
                        </bz-tab>
                        <bz-tab tabTitle="html">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.TRIGGERS_HTML" class="html"></span>
                            </bz-code-box>
                        </bz-tab>
                    </bz-tabset>
                    
                </bz-card-content>
            </bz-card>


             <!--  HTML in Tooltip -->
             <bz-card  class="card-top" id="htmlTooltip">
                <bz-card-header >
                    <span class="title"> HTML in Tooltip </span>
                </bz-card-header>
                
                <bz-card-content>
                    <div class="card-badge">
                        It is possible add HTML in tooltip:
                    </div>
                    <bz-tabset>
                        <bz-tab tabTitle="ShowCase">
                          
                        <div class="fk-center showcase-container" >
                           
                            <button bzButton status="primary" [bzTooltip]="tooltip"  class="tooltip-group" #button> 
                                Tooltip whit html
                            </button>
                           
                        </div>

                        <ng-template #tooltip>
                            <div>I'm a tooltip whith HTML</div>
                            <div class="fk-center"><button bzButton [bzCloseTooltip]="button">OK</button></div>
                        </ng-template>
                          
                        </bz-tab>
                        <bz-tab tabTitle="ts">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.USAGE_TS" class="typeScript"></span>
                            </bz-code-box>
                        </bz-tab>
                        <bz-tab tabTitle="html">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.TOOLTIP_HTML" class="html"></span>
                            </bz-code-box>
                        </bz-tab>
                    </bz-tabset>
                    
                </bz-card-content>
            </bz-card>

             <!--  Font -->
             <bz-card  class="card-top" id="font">
                <bz-card-header >
                    <span class="title"> Font </span>
                </bz-card-header>
                
                <bz-card-content>
                    <div class="card-badge">
                        It is possible to set font properties to tooltip with the attribute <span class="fk-badge">bzTooltipFont</span>
                    </div>
                    <bz-tabset>
                        <bz-tab tabTitle="ShowCase">
                          
                        <div class="fk-center showcase-container" >
                           
                            <button bzButton status="primary" bzTooltip="tooltip" [bzTooltipFont]="{'fontSize':'10'}" class="tooltip-group" > 
                                Tooltip whit font setted
                            </button>
                           
                        </div>

                       
                        </bz-tab>
                        <bz-tab tabTitle="ts">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.USAGE_TS" class="typeScript"></span>
                            </bz-code-box>
                        </bz-tab>
                        <bz-tab tabTitle="html">
                            <bz-code-box>
                                <span highlight [bzCodeBox]="TooltipConstant.FONT_HTML" class="html"></span>
                            </bz-code-box>
                        </bz-tab>
                    </bz-tabset>
                    
                </bz-card-content>
            </bz-card>
            
            
        </div>
    </div>
    <!--  Affix -->
    <div class="code-card">
        <bz-affix title="Overview" [toc]="[
            {fragment: 'installation', title: 'Installation' },
            {fragment: 'usage', title: 'Usage' },
            {fragment: 'status', title: 'Status' },
            {fragment: 'position', title: 'Position' },
            {fragment: 'triggers', title: 'Triggers' },
            {fragment: 'htmlTooltip', title: 'HTML in tooltip' },
            {fragment: 'font', title: 'Font' },
        ]">
        </bz-affix>
    </div>
</div>
