<!--  Validation -->
<bz-card class="card-top" id="validation">
    <bz-card-header>
        <span class="title"> Error message </span>
    </bz-card-header>

    <bz-card-content>
        <div class="card-badge">
            Adding <span class="fk-badge"> bz-error </span> element inside the component it will
            displayed a error message under the form field.
        </div>
        <bz-tabset>
            <bz-tab tabTitle="ShowCase">

                <div class="fk-r-mt-2 fk-r-mb-4 fk-p-width-100">

                    <form [formGroup]="form">
                        <bz-input label="Error:" formControlName="email">
                            <bz-error> Error</bz-error>
                        </bz-input>

                        <button bzButton status="primary" class="fk-r-mt-3">Submit</button>
                    </form>
                </div>

               

            </bz-tab>
            <!-- Ts tab -->
            <bz-tab tabTitle="ts">
                <bz-code-box>
                    <span highlight [bzCodeBox]="InputConstant.VALIDATION_TS" class="typeScript"></span>
                </bz-code-box>
            </bz-tab>
            <!--  HTML tab -->
            <bz-tab tabTitle="html">
                <bz-code-box>
                    <span highlight [bzCodeBox]="InputConstant.VALIDATION_HTML" class="html"></span>
                </bz-code-box>
            </bz-tab>
        </bz-tabset>

    </bz-card-content>
</bz-card>