<!--  Icon -->
<bz-card class="card-top" id="destroyByClick">
    <bz-card-header>
        <span class="title"> Icon </span>
    </bz-card-header>
    <bz-card-content>
        <div class="card-badge content-card">
            <span class="fk-badge"> Icon </span> permits to set a custom icon.
        </div>

        <bz-tabset>
            <!-- showcase -->
            <bz-tab tabTitle="ShowCase">
                <div class="fk-center showcase-container fk-column">
                    <div>
                        <button bzButton status="primary"
                            (click)="toastrService.showSuccess('Toast', {icon: 'fa fa-exclamation-circle'})" class="space-group">
                            Custom icon
                        </button>
                       
                    </div>
                </div>

            </bz-tab>
            <!--  ts -->
            <bz-tab tabTitle="ts">
                <bz-code-box>
                    <span highlight [bzCodeBox]="ToasterConstant.POSITION_TS" class="typeScript"></span>
                </bz-code-box>
            </bz-tab>
            <!--  html -->
            <bz-tab tabTitle="html">
                <bz-code-box>
                    <span highlight [bzCodeBox]="ToasterConstant.ICON_HTML" class="html"></span>
                </bz-code-box>
            </bz-tab>
        </bz-tabset>

    </bz-card-content>
</bz-card>


