<!-- Configuration -->
<bz-card class="card-top" id="configuration">
    <bz-card-header>
        <span class="title"> Configuration </span>
    </bz-card-header>
    <bz-card-content>
        <div class="card-badge content-card"> 
            <span class="fk-badge">BzDialogService.showDialog(...)</span> gets an option configuration parameter in input.
            <div class="line-spacing"> Config object presents the follow properties:</div>
            <ul class="line-spacing">
                <li class="ul-li"> properties</li>
                <li class="ul-li"> closeOnBackdropClick </li>
            </ul>
        </div>
        <div class="line-spacing card-badge"> Also, you can provide global dialogs configuration through <span class="fk-badge">BzDialogModule.forRoot(...)</span></div>
       
        <div class="line-spacing"></div>
    </bz-card-content>
</bz-card>
