<!-- Template -->
<bz-card class="card-top" id="template">
    <bz-card-header>
        <span class="title"> Template </span>
    </bz-card-header>
    <bz-card-content>
        <div class="card-badge content-card"> Instead of component you can create dialog from Template
        </div>
        <bz-tabset>
            <!-- showcase -->
            <bz-tab tabTitle="ShowCase">

                <div class="fk-center showcase-container">
                    <button bzButton status="primary" (click)="dialogService.showDialog(template)">Show Dialog</button>
                </div>

                <!--  template -->
                <ng-template #template let-ref="ref">
                    <bz-card global>
                        <bz-card-header> Dialog with template </bz-card-header>
                        <bz-card-content>
                            <div> This is a dilaog with template </div>
                        </bz-card-content>
                        <bz-card-footer>
                            <div>
                                <button bzButton status="primary" (click)="ref.closeDialog()">Close</button>
                            </div>
                        </bz-card-footer>
                    </bz-card>
                </ng-template>

            </bz-tab>
            <!--  ts -->
            <bz-tab tabTitle="ts">
                <bz-code-box>
                    <span highlight [bzCodeBox]="DialogConstant.TEMPLATE_TS" class="typeScript"></span>
                </bz-code-box>
            </bz-tab>
            <!--  html -->
            <bz-tab tabTitle="html">
                <bz-code-box>
                    <span highlight [bzCodeBox]="DialogConstant.TEMPLATE_HTML" class="html"></span>
                </bz-code-box>
            </bz-tab>
        </bz-tabset>
    </bz-card-content>
</bz-card>