 <!--  Position -->
 <bz-card class="card-top" id="position">
    <bz-card-header>
        <span class="title"> Position </span>
    </bz-card-header>
    <bz-card-content>
        <div class="card-badge content-card"> 
            <span class="fk-badge">Position</span> sets toast position on screen.
        </div>

        <bz-tabset>
            <!-- showcase -->
            <bz-tab tabTitle="ShowCase">
                <div class="fk-center showcase-container fk-column" >
               
                <!--  Right -->
                <div>
                    <button bzButton status="primary" (click)="toastrService.showSuccess('Right Top', {position: 'right-top'})" class="space-group"> 
                        Right Top
                      </button>
                      <button bzButton status="primary" (click)="toastrService.showInfo('Right Center', {position: 'right-center'})" class="space-group">
                        Right Center
                      </button>
                      <button bzButton status="primary" (click)="toastrService.showDanger('Right Bottom', {position: 'right-bottom'})" class="space-group"> 
                        Right Bottom
                      </button>
                </div>
               <!--  Center -->
                <div class="line-spacing">
                    <button bzButton status="primary" (click)="toastrService.showDanger('Center Top', {position: 'center-top'})" class="space-group"> 
                        Center Top
                      </button>
                      <button bzButton status="primary" (click)="toastrService.showSuccess('Center', {position: 'center'})" class="space-group">
                        Center
                      </button>
                      <button bzButton status="primary" (click)="toastrService.showInfo('Center Bottom', {position: 'center-bottom'})" class="space-group"> 
                        Center Bottom
                      </button>
                </div>
               <!--  Left -->
                <div class="line-spacing">
                    <button bzButton status="primary" (click)="toastrService.showInfo('Left Top', {position: 'left-top'})" class="space-group"> 
                        Left Top
                      </button>
                      <button bzButton status="primary" (click)="toastrService.showSuccess('Left Center', {position: 'left-center'})" class="space-group">
                        Left Center
                      </button>
                      <button bzButton status="primary" (click)="toastrService.showDanger('Left Bottom', {position: 'left-bottom'})" class="space-group"> 
                        Left Bottom
                      </button>
                </div>
               
                    
                </div>
            </bz-tab>
            <!--  ts -->
            <bz-tab tabTitle="ts">
                <bz-code-box>
                    <span highlight [bzCodeBox]="ToasterConstant.POSITION_TS" class="typeScript"></span>
                </bz-code-box>
            </bz-tab>
            <!--  html -->
            <bz-tab tabTitle="html">
                <bz-code-box>
                    <span highlight [bzCodeBox]="ToasterConstant.POSITION_HTML" class="html"></span>
                </bz-code-box>
            </bz-tab>
        </bz-tabset>
       
    </bz-card-content>
</bz-card>
