
<bz-card [bzSpinner]="spinner">

    <!-- card header -->
    <bz-card-header>
        Ordine {{ 'header.list' | translate }}
    </bz-card-header>

	<bz-card-content>
	
	    <!-- Tabella tipo ordine -->
	    <bz-table [sources]="ordineList" [pageSize]="pageSize" [nVisiblePages]="3" [totalPages]="totalPages"
	        (pageObject)="paginateTable($event, ordineCriteria)" paginatedBe>
	
	

			
			<!-- Id ordine -->
	        <th bzHeaderColumn bzSortColumn="idOrdine" scope="col" > Id Ordine </th>
	        <td *bzColumnDef="let ordine"> 
	            <div class="fk-pointer" (click)="navigateToView(ordine.objectKey)" >{{ordine.ordineKey.idOrdine}}</div>  
	        </td>
			<!-- Id ordine -->
	        <th bzHeaderColumn bzSortColumn="anno" scope="col" > Anno </th>
	        <td *bzColumnDef="let ordine"> 
	            <div class="fk-pointer" (click)="navigateToView(ordine.objectKey)" >{{ordine.ordineKey.anno}}</div>  
	        </td>

			
	
	        	<!-- Data Ordine -->
	        <th bzHeaderColumn bzSortColumn="dataOrdine" scope="col" > Data Ordine </th>
	        <td *bzColumnDef="let ordine"> {{ordine.dataOrdine }}</td>
	        	<!-- Urgente -->
	        <th bzHeaderColumn bzSortColumn="urgente" scope="col" > Urgente </th>
	        <td *bzColumnDef="let ordine"> {{ordine.urgente }}</td>
	
				 <!-- Cliente -->
	        	<th bzHeaderColumn  scope="col" > Cliente </th>
	        	<td *bzColumnDef="let ordine"> {{ordine.theClienteObjectTitle}}</td>
				 <!-- Tipo Ordine -->
	        	<th bzHeaderColumn  scope="col" > Tipo Ordine </th>
	        	<td *bzColumnDef="let ordine"> {{ordine.theTipoOrdineObjectTitle}}</td>
				 <!-- Ordine -->
	        	<th bzHeaderColumn  scope="col" > Ordine </th>
	        	<td *bzColumnDef="let ordine"> {{ordine.theOrdinePadreObjectTitle}}</td>
	
	        <ng-container bzTableNoValue> {{ 'label.noElements' | translate }} Ordine </ng-container>

	    </bz-table>

	</bz-card-content>

</bz-card>

<!-- Search with criteria -->
<app-search-ordine></app-search-ordine>

<!-- Buttons -->
<bz-card class="card">
	<bz-card-content>
	    <button bzButton status="primary" class="button" (click)="searchWithCriteria()"> Cerca</button>
	    <button bzButton status="primary" class="button" *ngIf="Privileges?.ORDINE_CREATE | hasPermission : privileges"
	     routerLink="/pages/ms-demo/ordine/detail-ordine/new" > {{ 'buttons.new' | translate }} </button>
		
	</bz-card-content>
</bz-card>



