.tooltip-group {
    margin-right: 7px;
}

.content-card {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .responsive {
        flex-direction: column;
    }
    .tooltip-group {
        margin-top:10px;
    }
}
