/* You can add global styles to this file, and also import other style files */
@import './app/theme/theme.scss';


.fk-row.inputs {
    margin-bottom: 10px;
}

.card {
    display: block;
    margin-top: 50px;
}


.button {
    margin-left: 10px;
}

